.not-found {
  background: url('assets/images/404-page.jpg') repeat-x center 70px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

}
.header {
  color: $color-creme;
  display: flex;
  justify-content: center;
}