.register-page {
  background: url('/assets/images/register.jpg') repeat-x center;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.header {
  background: #000;
  border-bottom: 1px solid #000;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
}

.registers { 
  background: hsla(0,0%,100%,.8);
  font-size: 1.5rem;
  margin-top: 3rem;
  .register-form {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 2rem;
    height: 60vh;
  }
}
input {
  border: none;
  border-bottom: 1px solid $color-red;
  height: 2rem;
  font-size: 1.5rem;
  background: 0 0;
  margin-bottom: 3rem;
  padding-left: .5rem;
}
input:hover {
  background: grey;
}
select {
  border: none;
  border-radius: 0;
  background: 0 0;
  border-bottom: 1px solid $color-red;
  height: 2rem;
  font-size: 1.5rem;
  width: 100%;
}
select:hover {
  color: white;
}
button {
  background: 0 0;
  color: black;
  border: none;
  font-size: 2rem;
  width: 100%;
}
.fa::before {
  padding-right: 1rem;
}