.container {
  margin-right: auto;
  margin-left: auto;
  width: 875px;
}
.page-report {
  background: url('/assets/images/gaxy.jpg');
  height: 100vh;
  background-attachment: fixed;
}
.header {
  text-align: center;
  color: white;
}
h3 {
  line-height: 0;
}
.mars-report-form {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.alien-select {
  border: none;
  border-radius: 0 0;
  color: black;
  border-bottom: 1px solid red;
  height: 2rem;
  font-size: 1.5rem;
  width:100%;
  padding-left: .5rem;
}
.text-area {
  height: 20rem;
  margin-top:1rem;
}
button {
  background: white;
  color: black;
  text-transform: uppercase;
  border: none;
  font-size: 2rem;
  width: 100%;
}
.button {
  margin-top: 10rem;
}