.register-page {
  background: url('/assets/images/gaxy.jpg');
  height: 100vh;
  background-attachment: fixed;
}
.register-page-content {
  padding-top: 10rem;
}
.header {
  color: white;
  text-align: center;
  padding-bottom: 3rem;
  text-transform: uppercase;
}
.container {
  margin-left:auto;
  margin-right: auto;
  width: 875px;
  background-color: white;
}
.register-form {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 1rem;
}
input {
  border: none;
  border-bottom: 1px solid red;
  height: 2rem;
  font-size: 1.5rem;
  background: 0 0;
  margin-bottom: 1.2rem;
  padding-left: .5rem;
}
input:hover {
  background: white;
}
select {
  border: none;
  border-radius: 0;
  background: 0 0;
  border-bottom: 1px solid red;
  height: 2rem;
  font-size: 1.5rem;
  width: 100%;
}
select:hover {
  color: white;
}
button {
  background: 0 0;
  color: black;
  border: none;
  font-size: 2rem;
  width: 100%;
}
.button {
  margin-bottom: 2rem;
  margin-top: 10rem; 
  border: 1px solid black;
}