<div class = "page register-page">
  <div class="register-page-content">
    <div class="header">
      <h1>Register</h1>
    </div>
    <div class="container">
      <form [formGroup]="registerForm" novalidate (submit)="registerColonist()" class="register-form">
        <input type="text" placeholder="Full Name" formControlName="name">
      
        <input class="age-button" type="number" placeholder="Age" formControlName="age">

        <select formControlName="job_id" placeholder="Select Occupation">
          <option value="Select Occupation">Select Occupation</option>
          <option *ngFor="let job of jobs" value="{{job.id}}">{{job.name}}</option> 
        </select>
        <a routerLink="/encounters">
          <button  class="button" [disabled]="registerForm.status === 'INVALID'" type="submit">Check In</button>
        </a>
      </form>
    </div>
  </div>
</div>