<div class = "page register-page">
  <div class="header">
    <h1>Register</h1>
    <h3>Safety on mars is our responsibility!</h3>
  </div> 
    <form [formGroup]="registerForm" novalidate (submit)="registerColonist()" class="register-form">
      <input type="text" placeholder="Full Name" formControlName="name">
    
      <input class="age-button" type="number" placeholder="Age" formControlName="age">

      <select formControlName="job_id" placeholder="Select Occupation">
        <option value="">Select Occupation</option>
        <option *ngFor="let job of jobs" value="{{job.id}}">{{job.name}}</option> 
      </select>
      <a routerLink="/encounters">
        <button  class="button" [disabled]="registerForm.status === 'INVALID'" type="submit">Check In</button>
      </a>
    </form>
    {{registerForm.value | json}} <!--//transform the object into a json string-->
    {{registerForm.status | json}}

</div>