<div class="page encounter-page">
  <div class="content">
  <div class="encounters-top">
    <div class="header">
      <h1 class="title">Recent Alien Encounter</h1>
    </div>
    <ul class="alien-list container">
      <li class="aliens" *ngFor="let encounter of encounters">
        <div>{{encounter.date}} - {{encounter.atype}}
        <p>{{encounter.action}}</p>
        </div>
      </li>
    </ul>
  </div>
    <div class="report-link">
      <a routerLink="/report">
        <button class="report-encounter-text button">Report Encounter</button>
      </a>
    </div>
  </div>
</div>
