<div class="page encounter-page">
  <div class="encounters-top">
    <div class="header">
      <h2 class="title">Recent Encounter</h2>
      <p>See an alien? Report it!</p>
    </div>
    <ul class="alien-list container">
      <li class="aliens" *ngFor="let encounter of encounters">
        <div>{{encounter.date}} - {{encounter.atype}}
        <p>{{encounter.action}}</p>
        </div>
      </li>
    </ul>
  </div>
    <div class="report-link">
      <a routerLink="/report">
        <h2 class="report-encounter-text">Report Encounter</h2>
      </a>
    </div>
</div>
