.not-found {
  background: url('/assets/images/space.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.header {
  color: white;
  display: flex;
  justify-content: center;
}